body { background-color: rgb(245, 116, 101);
    margin: 0px !important;

}
.h1{

    color: rgb(253, 244, 244);
    font-family: MuseoModerno, monospace;
    text-align: center;
    font-size: 4em;
}

.container{

    width: 100%;
    height: 100%;  
    background:rgb(245, 116, 101) ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box{

    width: 800px;
    height: 600px; 
    background: rgb(245, 128, 115);
    border-radius: 10px;


}
